<ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="assets/res1.jpg" alt="Delhi Metro" width="100%" height="630px">  
                <div class="carousel-caption">  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/res2.png" alt="Bangalore Metro" width="100%" height="630px">  
                <div class="carousel-caption">   
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/res3.jpg" alt="Channai Metro" width="100%" height="630px">  
                <div class="carousel-caption">
                </div>  
            </ng-template>  
</ngb-carousel> <br><br> 
<div class="container">
    <div class="row" style="font-size: 15px; color: white;text-align: center;">
        <div class="col-md-6">
            <img src="assets/res2.png" alt="Bangalore Metro" width="100%" height="400px">
        </div>
        <div class="col-md-6" style="background-color: rgb(36, 34, 34)">
            <p style="margin-top:30px">{{ y }}</p>
        </div>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row" style="font-size: 15px; color: white;text-align: center;">
        <div class="col-md-6" style="background-color: rgb(36, 34, 34);">
            <p style="margin-top:30px">{{ y }}</p>
        </div>
        <div class="col-md-6">
            <img src="assets/res1.jpg" alt="Bangalore Metro" width="100%" height="400px">
        </div>
    </div>
</div>